<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               저는 컴퓨터로 무언가를 하는걸 좋아합니다. 컴퓨터에게 명령어를 보내주면 그 명령어를 컴퓨터가 해석해 원하는 동작을 실행시켜준다는 점에서 저는 개발분야에 빠져들게 되었습니다. 그 중에서도 웹 백엔드를 좋아하고 그분야에서 일하고 싶습니다. 학부생때도 웹 백엔드와 비슷한 Android 어플리케이션 개발을 했었고 DB 및 게시판 개발 담당을 맡았었습니다. 이때 FireBase를 사용하면서 NoSQL을 처음 사용해보았습니다.(수정 할 예정.)
            </p>
            <p class="paragraph-text justify-text">
                제가 좋아하는 또다른 취미는 바로 웨이트 트레이닝 입니다. 저는 이중에서도 단순하게 남들이 하는 웨이트 트레이닝이 아닌, 실제 자료들과 책과 같은 자료들을 조사해 보고 그리고 운동할떄 각 운동 동작들도 실제 근육의 움직임이나 쓰임새 등을 알아가면서 많은 학습을 통해 다치지 않고 안전하게 그리고 완전한 가동범위로 운동할 수 있도록 평소 학습하며 운동을 하고있습니다.
            </p>
            <p class="paragraph-text justify-text">
                제가 운영하는 <a href="{{ site.blog_url }}">블로그</a>의 주소입니다.이 블로그에는 제가 개발하면서 생긴 문제점들이나 궁금한점들을 어떻게 해결 했는지, 학습한 내용들에 대한 정리, 그리고 제 취미인 운동에 대한 이야기도 같이 포스팅한 블로그 입니다.  제가 개발했던 프로젝트들은 <a href="https://github.com/{{ site.github_username }}">깃허브</a>에 있습니다. 제 이메일 주소는 페이지의 <span class="extra-link"><a href="#extra">하단</a></span> 에서 찾으실 수 있습니다.
            </p>
        </div>
    </section>
</div>
